﻿@using Microsoft.AspNetCore.Components.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/png" href="assets/favicon.png" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'pcs-black': '#1e1e1e',
                        'pcs-gray': '#7d7d7d',
                        'scs-gray': '#505050',
                        'pcs-light-gray': '#bbbbbb',
                        'pcs-lightest-gray': '#f3f3f3',
                        'pcs-red': '#c73030',
                        'scs-red': '#8a2828',
                        'pcs-green': '#5d9a2e',
                        'scs-green': '#4c7b27',
                        'pcs-blue': '#4f95ff',
                        'scs-blue': '#365f9b',
                        'pcs-golden': '#c3b533'
                    }
                }
            }
        }
    </script>
    <link href="css/globals.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()
    <script src="_framework/blazor.server.js"></script>
</body>
</html>