@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager

<div>
    <NavBar />
    <main class="mt-16 mx-auto max-w-5xl">
         @Body
    </main>
</div>

