@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IUserManager _db
@attribute [Authorize]

<PageTitle>Sobre A BitOk</PageTitle>

<div class="container mx-auto mt-8">
    <h1 class="text-3xl font-bold">Sobre a BitoK</h1>
    <p class="mt-4">
        A “BitoK”, empresa situada no centro de inovação tecnológica de Viana do Castelo, foi fundada em 2010
        com o objetivo de fornecer soluções para a montagem de computadores. Especializando-se na criação de
        máquinas de alto desempenho para os setores de gaming, corporativo e industrial, a empresa destacou-se no mercado pela sua capacidade de atender às exigências técnicas dos clientes.
    </p>
    <p class="mt-4">
        Com o aumento da procura por equipamentos mais avançados e a necessidade de melhorar a eficiência
        da sua linha de montagem, a “BitoK” decidiu adotar uma solução digital para otimizar a sua linha de
        montagem. A gestão tradicional baseada em processos manuais tornou-se insuficiente para lidar com a
        complexidade dos produtos e o aumento do volume de encomendas.
    </p>
    <p class="mt-4">
        Para ultrapassar esses desafios, a empresa está no processo de desenvolvimento de uma aplicação web
        voltada para a gestão da linha de montagem, integrada a todos os níveis de operação. Esta aplicação tem
        como principal função acompanhar o ciclo de vida de cada encomenda, desde a receção até a entrega do
        produto final, permitindo a monitorização em tempo real de cada etapa do processo. Esta modernização do
        sistema permitirá uma maior agilidade operacional, redução de erros humanos e melhor gestão do tempo
        de montagem, garantindo que a “BitoK” continue a entregar produtos de alta qualidade com eficiência e
        precisão.
    </p>
</div>

<div class="text-center mt-8">
    @if (role == Role.Client)
    {
        <a href="/nova-encomenda" class="bg-gray-800 text-white py-2 px-6 rounded-lg text-lg hover:bg-gray-800 transition-colors">
            Faça uma encomenda
        </a>
    }
    else if (role == Role.Admin)
    {
        <a href="/stock" class="bg-gray-800 text-white py-2 px-6 rounded-lg text-lg hover:bg-gray-800 transition-colors">
            Gerir stock
        </a>
    }
</div>

@code {
    private bool isAuthenticated;
    private Role role;

    private Data.Models.UserModel? userC;
    private Data.Models.UserModel? userA;

    protected override async Task OnInitializedAsync()
    {
        var ourProvider = (Auth.AuthMain)AuthenticationStateProvider;
        isAuthenticated = await ourProvider.IsAuthenticated();
        string? username = await ourProvider.GetUsername();
        string? roleString = await ourProvider.GetRole();

        if (roleString != null)
        {
            this.role = UserModel.FromString(roleString);
        }

        if (username != null)
        {
            if (this.role == Role.Client)
            {
                userC = await _db.GetClient(username);
            }
            else
            {
                userA = await _db.GetAdmin(username);
            }
        }
    }
}