@page "/login"
@layout NoLayout

@using Microsoft.AspNetCore.Components.Forms
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components
@using System.ComponentModel.DataAnnotations
@using System.Security.Claims;

@inject Data.Services.IUserManager _db
@inject IJSRuntime js
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="flex flex-col justify-center items-center h-screen">
    <div class="flex flex-col space-y-2 items-center justify-center mb-6">
        <img src="assets/logo.png" alt="BitOk" style="width: 200px;">
    </div>

    <div class="w-full max-w-[430px] bg-[#d1d1d1] rounded-lg px-8 pt-6 pb-8 mb-4 shadow-md">
        <p class="text-2xl font-extrabold text-center mb-6">Entrar</p>

        <EditForm Model="_loginModel" OnValidSubmit="Authenticate">
            <DataAnnotationsValidator />

            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-left mb-2">Username</label>
                <InputText @bind-Value="_loginModel.Username" id="username"
                           class="border border-solid rounded-xl w-full py-3 px-3 text-gray-700 mb-2"
                           placeholder="Username" style="height: 50px;" />
                <div class="pl-3 text-pcs-red">
                    <ValidationMessage For="@(() => _loginModel.Username)" />
                </div>
            </div>

            <div class="mb-4 relative">
                <label for="password" class="block text-gray-700 text-left mb-2">Password</label>
                <InputText @bind-Value="_loginModel.Password" id="password"
                           class="border border-solid rounded-xl w-full py-3 px-3 text-gray-700"
                           type="@inputType" placeholder="Password" style="height: 50px;" />
                <svg @onclick="TogglePasswordVisibility"
                     class="h-4 w-4 absolute right-3 top-1/2 translate-y-1/2 cursor-pointer"
                     viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    @if (!showPassword)
                    {
                        <path d="M2.99902 3L20.999 21M9.8433 9.91364C9.32066 10.4536 8.99902 11.1892 8.99902 12C8.99902 13.6569 10.3422 15 11.999 15C12.8215 15 13.5667 14.669 14.1086 14.133M6.49902 6.64715C4.59972 7.90034 3.15305 9.78394 2.45703 12C3.73128 16.0571 7.52159 19 11.9992 19C13.9881 19 15.8414 18.4194 17.3988 17.4184M10.999 5.04939C11.328 5.01673 11.6617 5 11.9992 5C16.4769 5 20.2672 7.94291 21.5414 12C21.2607 12.894 20.8577 13.7338 20.3522 14.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    }
                    else
                    {
                        <path d="M15.0007 12C15.0007 13.6569 13.6576 15 12.0007 15C10.3439 15 9.00073 13.6569 9.00073 12C9.00073 10.3431 10.3439 9 12.0007 9C13.6576 9 15.0007 10.3431 15.0007 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12.0012 5C7.52354 5 3.73326 7.94288 2.45898 12C3.73324 16.0571 7.52354 19 12.0012 19C16.4788 19 20.2691 16.0571 21.5434 12C20.2691 7.94291 16.4788 5 12.0012 5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    }
                </svg>
            </div>

            <div class="flex flex-col space-y-2 items-center justify-center">
                <button type="submit" class="bg-black hover:bg-black text-white font-bold py-2.5 px-10 rounded-md focus:outline-none focus:shadow-outline">
                    <p class="font-extrabold">Entrar</p>
                </button>
                <div class="text-xs text-center">
                    <p>Não tem conta? <a href="/registo" class="text-blue-500 hover:text-blue-700">Registe-se</a></p>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private class LoginModel
    {
        [Required(ErrorMessage = "O campo username é obrigatório")]
        public string Username { get; set; }

        [Required(ErrorMessage = "O campo password é obrigatório")]
        public string Password { get; set; }

        public LoginModel()
        {
            Username = "";
            Password = "";
        }
    }

    private bool showPassword = false;
    private string inputType => showPassword ? "text" : "password";
    private void TogglePasswordVisibility() => showPassword = !showPassword;

    private EditContext? _loginFormContext { get; set; }
    private ValidationMessageStore? _loginValidationMessageStore { get; set; }

    private LoginModel _loginModel = new LoginModel();

    protected override void OnInitialized()
    {
        _loginFormContext = new EditContext(_loginModel);
        _loginValidationMessageStore = new ValidationMessageStore(_loginFormContext);
    }

    private async Task Authenticate()
    {
        var account = await _db.GetUser(_loginModel.Username);

        if (account == null)
        {
            await js.InvokeVoidAsync("alert", "Username não encontrado.");
            return;
        }

        if (account.Password != _loginModel.Password)
        {
            await js.InvokeVoidAsync("alert", "Username ou password incorretos.");
            return;
        }

        var ourProvider = (Auth.AuthMain)AuthenticationStateProvider;
        await ourProvider.UpdateAuthenticationState(new Auth.UserSession
            {
                Username = account.Username,
                Role = account.RoleString,
            });

        NavManager.NavigateTo("/", true);
    }

}
